# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
.htaccess
cron.php
sm.php
assets
ckfinder
domains
*.sql
*.gz
*.zip
PHPMailer
.syslog
upload
.well-known
