@font-face {
  font-family: 'soc';
  src: url('../fonts/soc.eot?4768576');
  src: url('../fonts/soc.eot?4768576#iefix') format('embedded-opentype'),
       url('../fonts/soc.woff2?4768576') format('woff2'),
       url('../fonts/soc.woff?4768576') format('woff'),
       url('../fonts/soc.ttf?4768576') format('truetype'),
       url('../fonts/soc.svg?4768576#soc') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'soc';
    src: url('../font/soc.svg?4768576#soc') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "soc";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-package7:before { content: '\e800'; } /* '' */
.icon-profile-verify:before { content: '\e801'; } /* '' */
.icon-cir-ativity-status:before { content: '\e802'; } /* '' */
.icon-cir-author:before { content: '\e803'; } /* '' */
.icon-cir-campaign:before { content: '\e804'; } /* '' */
.icon-cir-project:before { content: '\e805'; } /* '' */
.icon-profile-unverify:before { content: '\e806'; } /* '' */
.icon-profile:before { content: '\e807'; } /* '' */
.icon-tag:before { content: '\e808'; } /* '' */
.icon-cir-join-status:before { content: '\e809'; } /* '' */
.icon-group:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e80b'; } /* '' */
.icon-star:before { content: '\e80c'; } /* '' */
.icon-star-empty:before { content: '\e80d'; } /* '' */
.icon-ok:before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-plus:before { content: '\e810'; } /* '' */
.icon-plus-circled:before { content: '\e811'; } /* '' */
.icon-minus:before { content: '\e812'; } /* '' */
.icon-minus-circled:before { content: '\e813'; } /* '' */
.icon-lock:before { content: '\e814'; } /* '' */
.icon-lock-open-alt:before { content: '\e815'; } /* '' */
.icon-forward:before { content: '\e816'; } /* '' */
.icon-print:before { content: '\e817'; } /* '' */
.icon-trash-empty:before { content: '\e818'; } /* '' */
.icon-doc-text:before { content: '\e819'; } /* '' */
.icon-cog:before { content: '\e81a'; } /* '' */
.icon-calendar-empty:before { content: '\e81b'; } /* '' */
.icon-cubes:before { content: '\e81c'; } /* '' */
.icon-instagram:before { content: '\e81d'; } /* '' */
.icon-quote:before { content: '\e81e'; } /* '' */
.icon-briefcase:before { content: '\e81f'; } /* '' */
.icon-clock:before { content: '\e820'; } /* '' */
.icon-eye-outline:before { content: '\e821'; } /* '' */
.icon-flag:before { content: '\e822'; } /* '' */
.icon-export-outline:before { content: '\e823'; } /* '' */
.icon-pencil:before { content: '\e824'; } /* '' */
.icon-map:before { content: '\e825'; } /* '' */
.icon-phone-outline:before { content: '\e826'; } /* '' */
.icon-lightbulb:before { content: '\e827'; } /* '' */
.icon-arrows-cw:before { content: '\e828'; } /* '' */
.icon-power:before { content: '\e829'; } /* '' */
.icon-flow-merge:before { content: '\e82a'; } /* '' */
.icon-pencil-1:before { content: '\e82b'; } /* '' */
.icon-target:before { content: '\e82c'; } /* '' */
.icon-layers:before { content: '\e82d'; } /* '' */
.icon-download:before { content: '\e82e'; } /* '' */
.icon-award:before { content: '\e82f'; } /* '' */
.icon-cancel-circled:before { content: '\e830'; } /* '' */
.icon-attach:before { content: '\e831'; } /* '' */
.icon-download-1:before { content: '\e832'; } /* '' */
.icon-upload:before { content: '\e833'; } /* '' */
.icon-comment:before { content: '\e834'; } /* '' */
.icon-folder-open:before { content: '\e835'; } /* '' */
.icon-hash:before { content: '\e836'; } /* '' */
.icon-twitter:before { content: '\e837'; } /* '' */
.icon-facebook:before { content: '\e838'; } /* '' */
.icon-gplus:before { content: '\e839'; } /* '' */
.icon-youtube:before { content: '\e83a'; } /* '' */
.icon-edit-alt:before { content: '\e83b'; } /* '' */
.icon-play-circled2-1:before { content: '\e83c'; } /* '' */
.icon-location-2:before { content: '\e83d'; } /* '' */
.icon-search:before { content: '\e83e'; } /* '' */
.icon-heart:before { content: '\e83f'; } /* '' */
.icon-heart-empty:before { content: '\e840'; } /* '' */
.icon-comment-1:before { content: '\e841'; } /* '' */
.icon-chat:before { content: '\e842'; } /* '' */
.icon-link:before { content: '\e843'; } /* '' */
.icon-cir-follow:before { content: '\e844'; } /* '' */
.icon-cir-link:before { content: '\e845'; } /* '' */
.icon-cir-own:before { content: '\e846'; } /* '' */
.icon-file-pdf:before { content: '\e847'; } /* '' */
.icon-child:before { content: '\e848'; } /* '' */
.icon-lightbulb-1:before { content: '\e849'; } /* '' */
.icon-calendar:before { content: '\e84a'; } /* '' */
.icon-flow-cross:before { content: '\e84b'; } /* '' */
.icon-help:before { content: '\e84c'; } /* '' */
.icon-right-open:before { content: '\e84d'; } /* '' */
.icon-left-open:before { content: '\e84e'; } /* '' */
.icon-left-big:before { content: '\e84f'; } /* '' */
.icon-right-big:before { content: '\e850'; } /* '' */
.icon-headphones:before { content: '\e851'; } /* '' */
.icon-download-alt:before { content: '\e852'; } /* '' */
.icon-cog-1:before { content: '\e853'; } /* '' */
.icon-calendar-1:before { content: '\e854'; } /* '' */
.icon-book:before { content: '\e855'; } /* '' */
.icon-users:before { content: '\e856'; } /* '' */
.icon-book-1:before { content: '\e857'; } /* '' */
.icon-bookmark:before { content: '\e858'; } /* '' */
.icon-bookmark-empty:before { content: '\e859'; } /* '' */
.icon-icon-event:before { content: '\e85a'; } /* '' */
.icon-ico-project-update:before { content: '\e85b'; } /* '' */
.icon-ico-project-add:before { content: '\e85c'; } /* '' */
.icon-up-big:before { content: '\e85d'; } /* '' */
.icon-up-open:before { content: '\e85e'; } /* '' */
.icon-down-big:before { content: '\e85f'; } /* '' */
.icon-down-open:before { content: '\e860'; } /* '' */
.icon-users-1:before { content: '\e861'; } /* '' */
.icon-users-2:before { content: '\e862'; } /* '' */
.icon-user-pair:before { content: '\e863'; } /* '' */
.icon-commerical-building:before { content: '\e864'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-newspaper-1:before { content: '\f1ea'; } /* '' */
.icon-street-view:before { content: '\f21d'; } /* '' */
.icon-newspaper:before { content: '\f4f0'; } /* '' */